@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  a {
    text-decoration: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    @apply p-0 m-0;
  }
  
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }
  
  body {
    @apply root-background custom-scrollbar text-neutral-700;
  }
}

@layer utilities {
  .root-background {
    @apply bg-neutral-50
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-2 h-1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-blue-200;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-sky-800 rounded-lg;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-sky-700;
  }

  .icon-button-text {
    @apply rounded-full p-2 bg-opacity-0 border-none focus-visible:ring-neutral-300 transition-colors;
  }

  .underline-custom {
    @apply after:content-[""] after:absolute after:w-full after:h-1 after:bg-blue-900 after:scale-x-[0] after:left-0 after:bottom-0 after:transition-transform;
  }

  .underline-custom-afterwards {
    @apply after:scale-x-[0.3];
  }

  .about-box-custom {
    @apply p-3 bg-gray-200 rounded-xl flex;
  }

  .underline-moves-item {
    @apply relative after:content-[''] after:absolute after:w-full after:h-[1px] after:bg-blue-900 after:left-0 after:bottom-0;
  }
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
